fastapi>=0.100.0
uvicorn[standard]>=0.23.0
sqlalchemy>=2.0.0
pymysql>=1.1.0
passlib[bcrypt]>=1.7.4
bcrypt==4.0.1
python-jose[cryptography]>=3.3.0
python-dotenv>=1.0.0
python-multipart>=0.0.7
openpyxl>=3.1.2
